$font-prefix: "~@ibm/plex";
@import "~@ibm/plex/scss/ibm-plex.scss";
@import "~reset-css/sass/reset";

$white: #ffffff;
$bg: hsla(201, 100%, 14%, 1);
$fg: hsla(190, 95%, 36%, 1);
$accent: hsla(31, 100%, 48%, 1);
$other: hsla(40, 97%, 64%, 1);
$font: hsla(51, 55%, 82%, 1);

* {
  box-sizing: border-box;
}

.circle {
  border-radius: 50%;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $fg;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: $white;
}

.icon-container:hover {
    animation: wiggle 1s linear infinite;
}

.icon-container > .svg-inline--fa {
  height: 1rem;
  width: 1rem;
}

html {
  background: other;
  font-size: calc(24px + 1vw);
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  color: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.italic {
  font-style: italic;
}

h1,
h2,
h3 {
  color: $accent;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.app {
  height: 100vh;
  background: $bg;
}

a {
  color: $other;
}

#wrapper {
  background: $bg;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  padding: 1rem calc(1vw + 5px);
}

.flex {
  display: flex;
}

.flex-fill-width {
  flex-basis: 100%;
}

.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-horizontal-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

.children-bottom-margin > *:not(:last-child) {
  margin: 0 0 .5rem;
}

.center-text {
  text-align: center;
}

.seesaw {
  animation: seesaw 5s linear infinite;
}

@keyframes seesaw {
  0% {
    transform: scale(1);
  }
  25% {
    transform: rotate(-2.5deg) scale(1.2);
  }
  50% {
    transform: rotate(0deg) scale(1.4);
  }
  75% {
    transform: rotate(2.5deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wiggle {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(.98);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

.git-card-loading,
.git-card {
  background: $fg;
  border-radius: 10px;
  padding: 1rem;
}

.git-name {
  color: $other;
}

.content {
  max-width: 725px;
}

.git-cards > .git-card:not(:last-child) {
  margin-bottom: 1rem;
}